<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 53.2 MB/s eta 0:00:00:00:010:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=9a04b84aff3733a6df9449a7c5a11dac6de74e1fbd19f2567c833b4bacbccf82
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
#Please uncomment and execute the code below if you are working locally.

#!pip install ipython-sql

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

**Note:This below code is added to remove blank rows from table**

In [7]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [9]:
# Execute the SQL query to display unique launch sites
query = """
SELECT DISTINCT "Launch_Site"
FROM SPACEXTABLE;
"""

unique_launch_sites = pd.read_sql(query, con)
# Print the unique launch sites
for site in unique_launch_sites["Launch_Site"]:
    print(site)

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [11]:
# Execute the SQL query to display 5 records where launch sites begin with 'CCA'
query = """
SELECT *
FROM SPACEXTABLE
WHERE "Launch_Site" LIKE 'CCA%'
LIMIT 5;
"""

# Fetch the records as a DataFrame
records_with_CCA = pd.read_sql(query, con)

# Print each record individually
for index, row in records_with_CCA.iterrows():
    print(row)
    print()  # Add a blank line between records for clarity

Date                                           2010-06-04
Time (UTC)                                       18:45:00
Booster_Version                            F9 v1.0  B0003
Launch_Site                                   CCAFS LC-40
Payload              Dragon Spacecraft Qualification Unit
PAYLOAD_MASS__KG_                                       0
Orbit                                                 LEO
Customer                                           SpaceX
Mission_Outcome                                   Success
Landing_Outcome                       Failure (parachute)
Name: 0, dtype: object

Date                                                        2010-12-08
Time (UTC)                                                    15:43:00
Booster_Version                                         F9 v1.0  B0004
Launch_Site                                                CCAFS LC-40
Payload              Dragon demo flight C1, two CubeSats, barrel of...
PAYLOAD_MASS__KG_                                                    0
Orbit                                                        LEO (ISS)
Customer                                               NASA (COTS) NRO
Mission_Outcome                                                Success
Landing_Outcome                                    Failure (parachute)
Name: 1, dtype: object

Date                            2012-05-22
Time (UTC)                         7:44:00
Booster_Version             F9 v1.0  B0005
Launch_Site                    CCAFS LC-40
Payload              Dragon demo flight C2
PAYLOAD_MASS__KG_                      525
Orbit                            LEO (ISS)
Customer                       NASA (COTS)
Mission_Outcome                    Success
Landing_Outcome                 No attempt
Name: 2, dtype: object

Date                     2012-10-08
Time (UTC)                  0:35:00
Booster_Version      F9 v1.0  B0006
Launch_Site             CCAFS LC-40
Payload                SpaceX CRS-1
PAYLOAD_MASS__KG_               500
Orbit                     LEO (ISS)
Customer                 NASA (CRS)
Mission_Outcome             Success
Landing_Outcome          No attempt
Name: 3, dtype: object

Date                     2013-03-01
Time (UTC)                 15:10:00
Booster_Version      F9 v1.0  B0007
Launch_Site             CCAFS LC-40
Payload                SpaceX CRS-2
PAYLOAD_MASS__KG_               677
Orbit                     LEO (ISS)
Customer                 NASA (CRS)
Mission_Outcome             Success
Landing_Outcome          No attempt
Name: 4, dtype: object

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [15]:
# Execute the SQL query to calculate the total payload mass carried by boosters launched by NASA (CRS)
query = """
SELECT SUM("PayloadMass") AS Total_Payload_Mass
FROM SPACEXTABLE
WHERE "Customer" LIKE '%NASA (CRS)%';
"""

# Execute the query and fetch the result
cur.execute(query)
total_payload_mass = cur.fetchone()[0]

# Print the total payload mass
print(f"Total Payload Mass carried by NASA (CRS): {total_payload_mass} kg")

Total Payload Mass carried by NASA (CRS): 0.0 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [17]:
# Execute the SQL query to calculate the average payload mass carried by booster version F9 v1.1
query = """
SELECT AVG("PayloadMass") AS Average_Payload_Mass
FROM SPACEXTABLE
WHERE "Booster_Version" = 'F9 v1.1';
"""

# Execute the query and fetch the result
cur.execute(query)
average_payload_mass = cur.fetchone()[0]

# Print the average payload mass
print(f"Average Payload Mass carried by booster version F9 v1.1: {average_payload_mass} kg")

Average Payload Mass carried by booster version F9 v1.1: 0.0 kg

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [18]:
# Execute the SQL query to find the date of the first successful landing outcome on ground pad
query = """
SELECT MIN("Date") AS First_Successful_Landing_Date
FROM SPACEXTABLE
WHERE "Landing_Outcome" LIKE '%Success (ground pad)%';
"""

# Execute the query and fetch the result
cur.execute(query)
first_successful_landing_date = cur.fetchone()[0]

# Print the first successful landing date
print(f"Date of the first successful landing on ground pad: {first_successful_landing_date}")

Date of the first successful landing on ground pad: 2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [24]:
# Execute the SQL query to list boosters with success in drone ship and payload mass between 4000 and 6000 kg
query = """
SELECT DISTINCT "Booster_Version"
FROM SPACEXTABLE
WHERE "Landing_Outcome" LIKE '%Success (drone ship)%'
    AND "PayloadMass" > 4000
    AND "PayloadMass" < 6000;
"""

# Fetch the result from the database
boosters_with_success_in_drone_ship = pd.read_sql(query, con)

# Print the names of boosters
if not boosters_with_success_in_drone_ship.empty:
    for index, row in boosters_with_success_in_drone_ship.iterrows():
        print(row["Booster_Version"])
else:
    print("No boosters found with success in drone ship and payload mass between 4000 and 6000 kg.")

No boosters found with success in drone ship and payload mass between 4000 and 6000 kg.

### Task 7




##### List the total number of successful and failure mission outcomes

In [26]:
# Execute the SQL query to count successful and failure mission outcomes
query = """
SELECT "Mission_Outcome", COUNT(*) AS Total_Count
FROM SPACEXTABLE
WHERE "Mission_Outcome" IN ('Success', 'Failure')
GROUP BY "Mission_Outcome";
"""

# Execute the query and fetch the result
cur.execute(query)
results = cur.fetchall()

# Print the total count of successful and failure mission outcomes
for result in results:
    outcome = result[0]
    count = result[1]
    print(f"{outcome}: {count}")

Success: 98

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [27]:
# Execute the SQL query to find the names of booster_versions with maximum payload mass
query = """
SELECT "Booster_Version"
FROM SPACEXTABLE
WHERE "PayloadMass" = (
    SELECT MAX("PayloadMass")
    FROM SPACEXTABLE
);
"""

# Fetch the result from the database
booster_versions_max_payload = pd.read_sql(query, con)

# Print the names of booster versions
for index, row in booster_versions_max_payload.iterrows():
    print(row["Booster_Version"])

F9 v1.0  B0003
F9 v1.0  B0004
F9 v1.0  B0005
F9 v1.0  B0006
F9 v1.0  B0007
F9 v1.1  B1003
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1 B1011
F9 v1.1 B1010
F9 v1.1 B1012
F9 v1.1 B1013
F9 v1.1 B1014
F9 v1.1 B1015
F9 v1.1 B1016
F9 v1.1 B1018
F9 FT B1019
F9 v1.1 B1017
F9 FT B1020
F9 FT B1021.1
F9 FT B1022
F9 FT B1023.1
F9 FT B1024
F9 FT B1025.1
F9 FT B1026
F9 FT B1029.1
F9 FT B1031.1
F9 FT B1030
F9 FT  B1021.2
F9 FT B1032.1
F9 FT B1034
F9 FT B1035.1
F9 FT  B1029.2
F9 FT B1036.1
F9 FT B1037
F9 B4 B1039.1
F9 FT B1038.1
F9 B4 B1040.1
F9 B4 B1041.1
F9 FT  B1031.2
F9 B4 B1042.1
F9 FT  B1035.2
F9 FT  B1036.2
F9 B4 B1043.1
F9 FT  B1032.2
F9 FT  B1038.2
F9 B4 B1044
F9 B4  B1041.2
F9 B4  B1039.2
F9 B4 B1045.1
F9 B5  B1046.1
F9 B4  B1043.2
F9 B4  B1040.2
F9 B4 B1045.2
F9 B5B1047.1
F9 B5B1048.1
F9 B5 B1046.2
F9 B5B1049.1
F9 B5 B1048.2
F9 B5 B1047.2
F9 B5 B1046.3
F9 B5B1050
F9 B5B1054
F9 B5 B1049.2
F9 B5 B1048.3
F9 B5B1051.1
F9 B5B1056.1
F9 B5 B1049.3
F9 B5 B1051.2
F9 B5 B1056.2
F9 B5 B1047.3
F9 B5 B1048.4
F9 B5B1059.1
F9 B5 B1056.3
F9 B5 B1049.4
F9 B5 B1046.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1059.2
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5B1058.1
F9 B5 B1049.5
F9 B5 B1059.3
F9 B5B1060.1
F9 B5 B1058.2
F9 B5 B1051.5
F9 B5 B1049.6
F9 B5 B1059.4
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5B1062.1
F9 B5B1061.1
F9 B5B1063.1
F9 B5 B1049.7
F9 B5 B1058.4

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [29]:
# Execute the SQL query to list records for failure landing outcomes in drone ship for months in year 2015
query = """
SELECT 
    CASE SUBSTR("Date", 6, 2)
        WHEN '01' THEN 'January'
        WHEN '02' THEN 'February'
        WHEN '03' THEN 'March'
        WHEN '04' THEN 'April'
        WHEN '05' THEN 'May'
        WHEN '06' THEN 'June'
        WHEN '07' THEN 'July'
        WHEN '08' THEN 'August'
        WHEN '09' THEN 'September'
        WHEN '10' THEN 'October'
        WHEN '11' THEN 'November'
        WHEN '12' THEN 'December'
        ELSE 'Unknown Month'
    END AS Month_Name,
    "Landing_Outcome",
    "Booster_Version",
    "Launch_Site"
FROM SPACEXTABLE
WHERE SUBSTR("Date", 0, 5) = '2015'
    AND "Landing_Outcome" LIKE '%Failure (drone ship)%';
"""

# Execute the query and fetch the result
cur.execute(query)
records_2015_failures_drone_ship = cur.fetchall()

# Print the records
for record in records_2015_failures_drone_ship:
    print(record)

('January', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40')
('April', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [31]:
# Execute the SQL query to rank landing outcomes between specified dates
query = """
SELECT "Landing_Outcome", COUNT(*) AS Outcome_Count
FROM SPACEXTABLE
WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20'
    AND "Landing_Outcome" IN ('Failure (drone ship)', 'Success (ground pad)')
GROUP BY "Landing_Outcome"
ORDER BY Outcome_Count DESC;
"""

# Execute the query and fetch the result
cur.execute(query)
results = cur.fetchall()

# Print the ranked outcomes
for result in results:
    print(f"{result[0]}: {result[1]}")

Failure (drone ship): 5
Success (ground pad): 3

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>